<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SorongBisnis | Sorong Business Media</title>
  </head>
<body> -->
  <!-- =========================
    //////////////This Theme Design and Developed //////////////////////
    //////////// by www.wpfreeware.com======================-->

  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <!-- End Preloader -->
   
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  
  <div class="container">
    <div class="box_wrapper">
      <!-- ==================start header=============== -->
      <%= render "shared/header" %>   
      <!-- ==================End header=============== -->

      <!-- start news sticker -->
      <%= render "shared/news_sticker" %>
      <!-- End news sticker -->

      <!-- ==================start top thumbnail slidier =============== -->
        <%= render "shared/thumbnail_slider" %>
      <!-- ==================End top thumbnail slidier =============== -->

      <!-- ==================start content body section=============== -->
      
      <section id="contentbody">
        <div class="row">

        <!-- start left bar content -->
        <%= render "shared/leftbar" %>  
        <!-- End left bar content -->

          <!-- start left middlebar content -->
          <%= render "shared/left_middlebar" %>
          <!-- End left middlebar content -->

          <!-- start left rightbar content -->
          <%= render "shared/rightbar" %>
          <!-- end rightbar content -->

        </div>  

      </section>
      <!-- ==================End content body section=============== -->

      <!-- footer -->
      <%= render "shared/footer" %>
      <!-- end footer -->

    </div><!-- /.box_wrapper -->
  </div><!-- /.container -->


  <!-- jQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <!-- For content animatin  -->
  <script src="/theme/js/wow.min.js"></script>
  <!-- bootstrap js file -->
  <script src="/theme/js/bootstrap.min.js"></script> 
  <!-- slick slider js file -->
  <script src="/theme/js/slick.min.js"></script> 
  <!-- news ticker jquery file -->
  <script src="/theme/js/jquery.li-scroller.1.0.js"></script></script>
    <!-- custom js file include -->
  <script src="/theme/js/custom.js"></script> 
      
 <!--  </body>
</html> -->
