  <%= form_for(@sub_category) do |f| %>
    <% if @sub_category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

        <ul>
        <% @sub_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Sub Category' %><br>
      <%= f.text_field :name, class:'form-control' %>
    </div>
    <div class="field">
      <%= f.label :category_id %><br>
      <%= f.collection_select(:category_id, Category.all, :id, :name, class:'form-control') %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class:'form-control' %>
    </div>
    <div class="field">
      <%= f.label :level %><br>
      <%= f.text_field :level, class:'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit class:'btn btn-primary' %>
    </div>
  <% end %>
