<!DOCTYPE html>
<html>
<head>
  <title>Admin Sorong Bisnis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- from theme -->
  <!-- Bootstrap -->
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">
    <!-- for fontawesome icon css file -->
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">
    <!-- for content animate css file -->
    <link rel="stylesheet" href="/theme/css/animate.css">
    <!-- google fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <!-- for news ticker css file -->
     <link href="/theme/css/li-scroller.css" rel="stylesheet">
     <!-- slick slider css file -->
    <link href="/theme/css/slick.css" rel="stylesheet">
    <!-- website theme file -->
    <!-- <link href="css/theme-red.css" rel="stylesheet"> -->
    <!-- <link href="css/theme-yellow.css" rel="stylesheet"> -->
    <!-- <link href="/theme/css/theme.css" rel="stylesheet"> -->
    <!-- main site css file -->    
    <!-- <link href="/theme/style.css" rel="stylesheet"> -->

    <!--Start menu admin  -->
    <meta charset="utf-8">
    <title>Accordion Menu - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
      /*all style goes to admin.css assets*/
    </style>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--End menu admin-->

</head>

<body>

<!--start menu admin-->
<%= render 'shared/admin_top_navbar' %>
<%= render 'shared/admin_sidemenu' %>

    <!-- Main Content -->
    <div class="col-sm-9 col-md-9">
      <!--<div class="well">-->
        <!--<h1>-->
          <!--Accordion Menu With Icon</h1>-->
        <!--Admin Dashboard Accordion Menu-->
      <!--</div>-->
      <%= yield %>
    </div>
    <!-- End Main Content -->

  </div>
</div>
<!--end menu admin-->



</body>
</html>
