<!DOCTYPE html>
<html>
<head>
  <title>Sorong Bisnis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>

  <!-- from theme -->
    <!-- Bootstrap -->
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">
    <!-- for fontawesome icon css file -->
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">
    <!-- for content animate css file -->
    <link rel="stylesheet" href="/theme/css/animate.css">
    <!-- google fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <!-- for news ticker css file -->
     <link href="/theme/css/li-scroller.css" rel="stylesheet">
     <!-- slick slider css file -->
    <link href="/theme/css/slick.css" rel="stylesheet">
    <!-- website theme file -->
    <!-- <link href="css/theme-red.css" rel="stylesheet"> -->
    <!-- <link href="css/theme-yellow.css" rel="stylesheet"> -->
    <link href="/theme/css/theme.css" rel="stylesheet">
    <!-- main site css file -->
    <link href="/theme/style.css" rel="stylesheet">	

  <!--React JS-->
    <!--<script src="//fb.me/react-0.14.7.min.js"></script>-->
    <!--<script src="//fb.me/react-dom-0.14.7.min.js"></script>-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

</head>

<body>

<%= yield %>

</body>
</html>
